<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Victoria">
<title>decino submission round</title>
<link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link href="/assets/custom/css/main.css" rel="stylesheet">
<link rel="shortcut icon" href="#">
<style>
    .submissionsTable tbody tr > td {
        max-width: 1px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .normal {
        white-space: normal !important;
    }
</style>
