<div class="card border-primary mb-3 ml-3" id="statsPanel">
    <div class="card-header">Active round stats</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div id="recordFormatDist" class="chart-container"></div>
            </div>
            <div class="col-md-4">
                <div id="mapAuthorChart"></div>
            </div>
            <div class="col-md-4">
                <div id="submissionTypeChart"></div>
            </div>
        </div>
    </div>
</div>