<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <%- include('snippets/head.ejs'); %>
</head>
<body>
<div class="container">
    <main>
        <div class="d-flex align-items-center justify-content-center vh-100">
            <div class="text-center">
                <h1 class="display-1 fw-bold"><%- status -%></h1>
                <p class="fs-3"><span class="text-danger">Oops!</span> <%- title -%>.</p>
                <p class="lead">
                    <%- message -%>
                </p>
                <a href="/" class="btn btn-outline-primary">Go Home</a>
            </div>
        </div>
    </main>
</div>
</body>
</html>
