<!doctype html>
<html lang="en" data-bs-theme="dark">
<%- include('snippets/head.ejs'); %>
<style>
    .profile-image-pic {
        height: 200px;
        width: 200px;
        object-fit: cover;
    }

    .cardbody-color {
        background-color: #ebf2fa;
    }

    a {
        text-decoration: none;
    }
</style>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center text-dark mt-5">Login</h2>
            <div class="card my-5 border-primary">
                <div class="card-header text-center">
                    Login
                </div>
                <div class="card-body">
                    <form class="p-lg-3" action="/rest/auth/login" method="post">
                        <div class="form-floating mb-3">
                            <input required name="email" type="email" class="form-control" id="floatingInputPassword"
                                   placeholder="name@example.com">
                            <label for="floatingInputPassword">Email address</label>
                        </div>
                        <div class="mb-3">
                            <div class="form-floating">
                                <input required name="password" type="password" class="form-control" id="floatingPassword"
                                       placeholder="Password">
                                <label for="floatingPassword">Password</label>
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-outline-success">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


<%- include('snippets/scripts.ejs'); %>
</body>
</html>
