<!doctype html>
<html lang="en">
<%- include('../snippets/head.ejs'); %>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.1/fh-3.3.1/r-2.4.0/sl-1.5.0/datatables.min.css"/>
<body>

<div class="container mt-5">
    <main>

    </main>
</div>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.1/fh-3.3.1/r-2.4.0/sl-1.5.0/datatables.min.js"></script>
<%- include('../snippets/scripts.ejs'); %>
</body>
</html>
